@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-rgb: 247, 247, 247;
    --bg-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--font-rgb));
  background: rgb(var(--bg-rgb));

  overflow: hidden;
}
